body{
    margin: 0;
    padding-top: 800px;
}
.profile{
    border-radius: 50%;
    margin-bottom: 50px;
    width: 175px;
}
#welcome{
    position: absolute;
    overflow: hidden;
    height: 800px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.83;
    display: table;
    width: 100%;
    height: 100%;
    background: linear-gradient(#1d62ab 0%, #037eff 100%);
    color: yellow;
}
.inner1{
    display: table-cell;
    position: relative;
    vertical-align: middle;
    text-align: center;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.2;
    font-size: 40px;
}
#name{
    font-family: Arial;
    line-height: 1.2;
}
h2{
    font-size: 30px;
    line-height: 1.2;
    font-weight: 300;
}
#bio{
    padding: 50px;
    font-size: 42px;
    text-align: center;
}
.line{
    height: 6px;
    width: 70px;
    margin: 8px auto;
    background-color: tomato;
}
p{
    max-width: 450px;
    margin: 25px auto;
    font-size: 17px;
    line-height: 1.3;
}